<div class="share">
  <a target="_blank" href="https://www.facebook.com/sharer.php?u=<%= config.site.root %>post/<%= post.slug %>" class="icon-facebook" title="Share on Facebook"></a>
  <a target="_blank" href="https://twitter.com/intent/tweet?url=<%= config.site.root %>post/<%= post.slug %>&text=<%= post.title %>" class="icon-twitter" title="Share on Twitter"></a>
  <a target="_blank" href="https://plus.google.com/share?url=<%= config.site.root %>post/<%= post.slug %>" class="icon-gplus" title="Share on Google+"></a>
  <a href="javascript:;" id="qrcode-trigger" class="icon-qrcode" title="Show QR Code"></a>
</div>
<div id="qr"></div>
